// Fichier contenant tout les outils de base dans la construction de de mon projets en css.

$blanc: #fff;
$vert: #44d498;
$orange: #f29838;
$rouge: red;
$noir: #222;
$gris: #f5f5f5;
$blancgris: #f5fbf7;
$grisnoir: #aaa;

*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
  
a{
    text-decoration: none;
}
  
li{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    background: $gris;
}

.header{
    position: absolute;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    background: $blanc;
    box-shadow: 0 5px 5px $grisnoir;
    z-index: 5;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background: $vert;
        transition: 0.5s ease-in-out;
    }  
    &-logo{
        margin-left: 30px;
    }
    &-burger{
        width: 30px;
        height: 30px;
        position: relative;
        display: none;
        background: #fff;
        
        span{
          width: 100%;
          height: 3px;
          position: absolute;
          background: $vert;
          top: 50%;
          transform: translateY(-50%);
          transition: background 0.5s;
        }
        &:hover{
          cursor: pointer;
        }
        &::before{
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          background: $vert;
          bottom: 0;
          transition: transform 0.5s, bottom 0.5s;
        }
        &::after{
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          background: $vert;
          transition: transform 0.5s, bottom 0.5s;
        }
        &.active{
          span{
            background: transparent;
          }
          &::before{
            transform: rotate(-45deg);
            bottom: 50%;
          }
          &::after{
            transform: rotate(45deg);
            bottom: 50%;
          }
        }
    }
    &-nav{
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-titles{
            font-weight: bold;
            font-size: 1.2em;
            padding: 100% 30px;  
            &-links{
                color: $vert;
                transition: color .5s ease-in-out;
                &:hover{
                    color: $vert;
                }
            }
            &-links::after{
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: $noir;
                transition: width .5s ease-in-out;
            }
            &-links:hover::after{
                width: 100%;
            } 
            &-links::before{
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background: $noir;
                transition: width .5s ease-in-out;
            }
            &-links:hover::before{
                width: 0;
            }
        }
    }
}

// Responsive du header

@media (max-width: 770px){
    .header{
        position: relative;
        display: flex;
        justify-content: space-between;
        &-burger{
            display: block;
            margin-right: 50px;
            margin-top: 20px;
        }
        &-nav{
            display: flex;
            align-items: center;
            flex-direction: column;
            position: absolute;
            background: #fff;
            top: 100%;
            width: 100%;
            overflow: hidden;
            left: 0;
            height: 0;
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
            transition: height ease-in-out 0.4s;
            &-titles{
                padding: 10px;
            }
            a{
                display: inline-block;
                padding: 30px;
            }
            &.active{
                height: 350px;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 100%;
                background: $vert;
                transition: 0.5s ease-in-out;
            }
        }
    }
}
//-----

.footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70px;
    background: $blanc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 2px;
        background: $grisnoir;
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        background: $vert;
        transition: 0.5s ease-in-out;
    }  
    &-autor{
        color: $grisnoir;
        font-weight: bold;
        font-size: 1em;
        &-mail{
            color: $vert;
            &:hover{
                text-decoration: underline $grisnoir;
                cursor: pointer;
            }
        }
    }
    &-contacts{
        width: 20%;
        display: flex;
        justify-content: space-around;
        &-logo{
            width: 40px;
            height: 40px;
        }
    }
}

// Responsive footer

@media (max-width: 770px){
    
}